<div @stagger class="p-gutter" vexContainer>
    <h2 class="title mb-4" fxLayout="row" fxLayoutAlign="start center">
        <span @scaleIn class="w-10 h-10 rounded-full text-primary mr-3 flex items-center justify-center bg-primary-light">
          <ic-icon [icon]="icDescription" height="20px" width="20px"></ic-icon>
        </span>
            <span @fadeInRight class="block">Personal Profile</span>
        </h2>

        <div @fadeInUp class="card overflow-hidden">
            <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
                <ng-template matStepperIcon="edit">
                    <mat-icon [icIcon]="icDoneAll"></mat-icon>
                </ng-template>

                <mat-step [stepControl]="accountFormGroup">
                    <form [formGroup]="accountFormGroup">
                        <ng-template matStepLabel>Personal Informtion</ng-template>

                    <h2 class="title m-0">Personal Informtion</h2>
                    <div class="subheading-1">Fill in Necessary Information</div>

                        <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                                <mat-form-field fxFlex="auto">
                                    <mat-label>First Name</mat-label>
                                    <input formControlName="firstName" matInput required> 
                                </mat-form-field>

                                <mat-form-field fxFlex="auto">
                                    <mat-label>Middle Name</mat-label>
                                    <input formControlName="middleName" matInput required> 
                                </mat-form-field>

                                <mat-form-field fxFlex="auto">
                                    <mat-label>Last Name</mat-label>
                                    <input formControlName="lastName" matInput required> 
                                </mat-form-field> 
                            </div>
                            <mat-form-field fxFlex="auto">
                                <mat-label>Address</mat-label>
                                <input formControlName="address" matInput required> 
                            </mat-form-field> 
                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                                <mat-form-field class="flex-auto" required>
                                    <mat-label>Gender</mat-label>
                                    <mat-select formControlName="gender">
                                        <mat-option value="Male">Male</mat-option>
                                        <mat-option value="Female">Female</mat-option>
                                    </mat-select>
                     
                                </mat-form-field>
                    
                                <mat-form-field class="sm:ml-6 flex-auto">
                                    <mat-label>Status</mat-label>
                                    <mat-select formControlName="status" required>
                                        <mat-option value="Single">Single</mat-option>
                                        <mat-option value="Married">Married</mat-option>
                                        <mat-option value="Separated">Separated</mat-option>
                                        <mat-option value="Single Parent">Single Parent</mat-option>
                                    </mat-select> 
                                </mat-form-field>
                            </div>
                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Birth Date</mat-label>
                                    <input matInput  type="date" formControlName="birthDate" required> 
                     
                                </mat-form-field>
                                
                                <mat-form-field class="sm:ml-6 flex-auto">
                                    <mat-label>Residence Type</mat-label>
                                    <mat-select formControlName="residenceType" required>
                                        <mat-option value="Single">Digos Resident</mat-option>
                                        <mat-option value="Married">Non Digos Resident</mat-option> 
                                    </mat-select>
                                    <mat-icon class="mr-3" matPrefix></mat-icon>
                                </mat-form-field>

                                <mat-form-field class="flex-auto">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput formControlName="contact" required> 
                     
                                </mat-form-field>

                                <mat-form-field class="flex-auto">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email"> 
                     
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">   
                            <button [disabled]="accountFormGroup.invalid" color="primary" mat-raised-button matStepperNext>
                                NEXT
                            </button>
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]="householdMemberFormGroup">
                    <form [formGroup]="householdMemberFormGroup">
                        <ng-template matStepLabel>Images</ng-template>

                    <h2 class="title m-0">Images</h2>
                    <div class="subheading-1">Upload Necessary Images</div>

                    <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                        <div layout-margin layout-padding>
                            <input class="ng-hide" id="input-file-id" multiple type="file" />
                            <label for="input-file-id" class="md-button md-raised md-primary">Choose Files For Profile Picture</label>
                        </div>
                    </div>
                    <br><br>
                    <mat-form-field class="flex-auto">
                        <mat-label>Proof of Identity</mat-label>
                        <input matInput> 
            
                        <mat-icon class="mr-3" matPrefix></mat-icon>
                    </mat-form-field> 
                    <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                        <div layout-margin layout-padding>
                            <input class="ng-hide" id="input-file-id" multiple type="file" />
                            <label for="input-file-id" class="md-button md-raised md-primary">Choose Files for Proof of Identity</label>
                        </div>
                    </div>

                    <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                        <button color="primary" mat-button matStepperPrevious type="button">PREVIOUS</button>
                        <button color="primary"
                                mat-raised-button
                                matStepperNext>
                            CREATE ACCOUNT
                        </button>
                    </div>
                    </form>
                </mat-step>

            </mat-horizontal-stepper>
    </div>
</div>
