<div class="mt-6 flex flex-col md:flex-row md:items-start">
    <div class="flex-auto">
        <div class="flex justify-between">
            <mat-form-field class="flex">
                <mat-label>Birth Date</mat-label>
                <input matInput  type="date"> 

                <mat-icon   class="mr-3" matPrefix></mat-icon>
            </mat-form-field>
        </div>
    <div class="flex-auto">
        <div @fadeInUp class="card mt-6">
           
            <div @fadeInUp class="card mt-10">
                    <vex-profile-timeline-entry avatarUrl="assets/img/avatars/7.jpg"
                                                comments="15"
                                                likes="62"
                                                name="Jens Zaracha"
                                                time="18 minutes ago">
                        <p class="px-gutter pt-1 pb-4">You have entered XYZ MALL</p>
                    </vex-profile-timeline-entry> 
            </div>
        </div>
   </div>
          
 
</div>
